name: middleware actions
on:
  push:
    branches:
      - main
env:
  PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
  USERNAME: ${{ secrets.USERNAME }}
  HOST: ${{ secrets.HOST }}
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read
jobs:
  TRIGGER_UPDATE:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Transfer and deploy code
        run: |
          echo "Setting up the environment"
          echo "${{ env.PRIVATE_KEY }}" > private_key 
          chmod 600 private_key

          echo "Transferring code to the server"
          scp -o StrictHostKeyChecking=no -i private_key -r ./* ${{ env.USERNAME }}@${{ env.HOST }}:/home/ubuntu/api
          echo "Code transferred successfully"
          ssh -o StrictHostKeyChecking=no -i private_key ${{ env.USERNAME }}@${{ env.HOST }} << EOF
          cd /home/ubuntu/api &&
          sudo npm install &&
          sudo pm2 stop src/app.js &&
          sudo pm2 start src/app.js
          EOF